body{
    background-color: #e3d8d8;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;

}

.box {
    padding: 15px;
    width: 250px;
    background-color: white;
    text-align: left;
    border-radius: 14px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.15);

}

.box img {
    width: 100%;
    object-fit: cover;
    padding-top: 0%;


}

.box button {
    padding: 10px;
    border-radius: 8px;
    background-color: yellow;
    border: 1px solid black;
    width: 100%;
    cursor: pointer;
    font-weight: 500;
 }

 .box button:hover {
    opacity: 65%;
    transition: transform 0.2s , transition 0.2s;
    background-color: #eff165;
    box-shadow: 50%;
 }

 .rating {
    font-size: large;

 }

 .price {
    font-weight: 400;
    font-family: Arial, sans-serif;
    font-weight: bold;
 }

 .box :hover {
    transform: rotateY(-10px);
 }
